body,
h1,
h2,
h3,
ul,
li,
a {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 18px;
    position: relative;
}

p::first-line {
    font-size: 30px;
    font-weight: lighter;
    color: seagreen;
}

p::after {
    content: 'Bayo loves to code';
    color: #F63232;
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 20;
}

header {
    position: fixed;
    background-color: #F63232;
    z-index: 1;
    padding: 20px 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

header h1 {
    color: #fff;
    padding: 6px 12px;
    border: 5px solid white;
    border-radius: 35px;
    display: inline-block;
}

.banner {
    position: relative;
}

.welcome h2 {
    position: absolute;
    left: 0;
    top: 30%;
    background-color: #FEB614;
    color: white;
    padding: 30px 35px;
    font-size: 40px;
}

.banner img {
    max-width: 100%;
}

.banner .welcome h2 {
    background-color: #FEB614;
    color: #fff;
    padding: 30px;
}

.welcome span {
    font-size: 1.4em;
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 101px;
}

nav li a {
    color: #4b4b4b;
    text-decoration: none;
    font-size: 18px;
}

nav li a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

li a.join-club {
    color: #F63232;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 70px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
    font-size: 48px;
    color: #F63232;
}

article p {
    color: #4b4b4b;
    line-height: 2em;
}

.images {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}

.images div {
    width: 448px;
    height: 252px;
}

.images div img {
    width: 100%;
    height: 100%;
}

section.join {
    background-color: #f4f4f4;
    text-align: center;
    color: #4b4b4b;
    padding: 60px 50px;
}

section.join {
    font-size: 36px;
}

.join form input {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: px;
    margin: 20px 0;
    border: 4px solid white;
}

.join form input:focus {
    border: 4px solid #F63232;
    outline: none;
}

.join form input:valid {
    border: 4px solid #71d300;
}

footer {
    background-color: #F63232;
    color: #fff;
    padding: 10px;
    text-align: center;
}

input::placeholder {
    font-style: italic;
    color: crimson;
    background-color: black;
    opacity: .5;
}